<!doctype html>
    <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

      <title>
        {% block title %}
        {{ config.title }}
        {% endblock title %}
      </title>
  </head>
  <body>
      <!-- ... -->
      {% if my_var %}
        <script defer src="/js/search.js"></script>
      {% endif %}
  </body>
  </html>
